
.footer .wp-block-categories li a,
.footer .wp-block-archives li a,
.footer .wp-block-latest-posts li a {
  color: #ffffff;
}

.footer .wp-block-latest-comments__comment-meta a {
  color: #ffffff;
}

.footer .transparent-border-mixin {
  border-color: rgba(255,255,255,0.15);
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6,
.footer h1 a,
.footer h2 a,
.footer h3 a,
.footer h4 a,
.footer h5 a,
.footer h6 a,
.footer h1 a:hover,
.footer h2 a:hover,
.footer h3 a:hover,
.footer h4 a:hover,
.footer h5 a:hover,
.footer h6 a:hover,
.footer .h1-size,
.footer .entry-title.h1-size,
.footer .h2-size,
.footer .entry-title.h2-size,
.footer h1.entry-title,
.footer .h3-size,
.footer .entry-title.h3-size,
.footer h2.entry-title,
.footer .h4-size,
.footer .entry-title.h4-size,
.footer h3.entry-title,
.footer .h5-size,
.footer .entry-title.h5-size,
.footer .h6-size,
.footer .entry-title.h6-size,
.footer .header-color,
.footer .entry-meta .header-color,
.footer .color-title {
  color: #ffffff;
}

.footer .color-secondary,
.footer .color-base-transparent {
  color: rgba(255,255,255,0.5);
}

.footer .widget_categories li a,
.footer .widget_meta a,
.footer .blogroll a,
.footer .widget_archive li a,
.footer .widget_recent_entries a,
.footer .widget_recent_comments a,
.footer .widget_links a,
.footer .items-grid a,
.footer .recent-posts a,
.footer .widget:not(.widget_icl_lang_sel_widget) .recent-posts a,
.footer .contact-info .secondary-color,
.footer .widget_nav_menu a,
.footer .tagcloud a,
.footer .widget_pages a,
.footer a.rsswidget,
.footer .textwidget a {
  color: #ffffff;
}

.footer .custom-categories a,
.footer .custom-categories a .item-name,
.footer .cat-item a,
.footer .widget_recent_comments a,
.footer .widget_tag_cloud a:hover {
  color: #ffffff;
}

.footer .custom-categories a span.item-num,
.footer .cat-item a span.item-num {
  color: rgba(255,255,255,0.5);
}
.sidebar-content .custom-categories a:hover span.item-name,
.sidebar-content:not(.solid-bg) .widget:not(.widget_icl_lang_sel_widget) .custom-categories a:hover span.item-name,
.sidebar-content .cat-item a:hover span.item-name,
.sidebar-content:not(.solid-bg) .widget:not(.widget_icl_lang_sel_widget) .cat-item a:hover span.item-name,
.sidebar-content .custom-menu a:hover,
.sidebar-content:not(.solid-bg) .widget:not(.widget_icl_lang_sel_widget) .custom-menu a:hover,
.sidebar-content .custom-menu li.act > a,
.sidebar-content:not(.solid-bg) .widget:not(.widget_icl_lang_sel_widget) .custom-menu li.act > a,
.sidebar-content .widget_recent_comments a:hover,
.sidebar-content:not(.solid-bg) .widget:not(.widget_icl_lang_sel_widget) .widget_recent_comments a:hover {
  color: #5891e8;
}
.footer .custom-categories a:hover span.item-name,
.footer .cat-item a:hover span.item-name,
.footer .custom-menu a:hover,
.footer .custom-menu li.act > a,
.footer .widget_recent_comments a:hover {
  color: #5891e8;
}

.footer .menu li,
.footer .widget_pages li,
.footer .custom-menu.dividers-on li,
.footer .blogroll li,
.footer .qts-lang-menu li {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255,255,255,0.15);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer .menu .current-menu-parent > a,
.footer .menu .current-menu-item > a,
.footer .custom-nav > li > a:hover span,
.footer .custom-nav li.act > a span,
.footer .custom-nav > li > ul a:hover span,
.footer .st-accordion li > a:hover,
.footer .st-accordion > ul li > a:hover *,
.footer .widget .custom-categories a:hover span.item-name,
.footer .widget_categories li a:hover,
.footer .widget_meta a:hover,
.footer .blogroll a:hover,
.footer .widget_archive li a:hover,
.footer .widget_recent_entries a:hover,
.footer .widget_links a:hover,
.footer .widget_pages a:hover,
.footer .recent-posts a:not(.post-rollover):hover,
.footer .items-grid .post-content > a:hover,
.footer #wp-calendar td a:hover,
.footer .tagcloud a:hover,
.footer .widget_nav_menu a:hover,
.footer a.rsswidget:hover {
  color: #5891e8;
}

.footer .textwidget a:not(.dt-btn):hover {
  color: #5891e8;
}

.footer .custom-menu a:after {
  color: rgba(255,255,255,0.5);
}

.footer .custom-menu a:hover:after,
.footer .custom-menu .act > a:after {
  color: rgba(88,145,232,0.999);
}

.footer .skill {
  background-color: rgba(255,255,255,0.15);
}

.footer .skill-name,
.footer .skill-name *,
.footer .custom-nav > li > a span,
.footer .custom-nav > li > ul a span,
.footer .st-accordion li a,
.footer .st-accordion > ul li > a * {
  color: #ffffff;
}

.footer .custom-menu.show-arrow a:after {
  top: 7px;
}

.footer .custom-menu a:not(:hover) {
  color: #ffffff;
}

.footer .sidebar-content .widget:not(.widget_icl_lang_sel_widget) .custom-menu a:not(:hover) {
  color: #ffffff;
}

.footer .custom-menu a:before,
.footer .widget_presscore-custom-menu-1 .custom-menu a:after {
  top: 7px;
}

.footer .custom-nav > li li a:before {
  top: 13.5px;
}

.footer .st-accordion li > a:before,
.footer .custom-menu a:before {
  background-color: rgba(255,255,255,0.15);
}

.footer .layout-list .post {
  border-color: rgba(255,255,255,0.15);
}

.footer .dividers-on.classic-layout-list .post {
  border-color: rgba(255,255,255,0.15);
}

.footer .centered-layout-list.dividers-on .post-entry-content:after {
  background-color: rgba(255,255,255,0.15);
}

.footer .blog-shortcode .entry-title a,
.footer .portfolio-shortcode .entry-title a,
.footer .albums-shortcode .entry-title a,
.footer .owl-carousel.blog-carousel-shortcode .entry-title a {
  color: #ffffff;
}

.footer .blog-shortcode .entry-meta,
.footer .portfolio-shortcode .entry-meta,
.footer .albums-shortcode .entry-meta,
.footer .owl-carousel .entry-meta {
  color: rgba(255,255,255,0.5);
}

.footer .post-details.details-type-link {
  color: #ffffff;
}

.footer .post-details.details-type-link * {
  color: #ffffff;
}


.footer .post h2.entry-title,
.footer .post h2.entry-title {
  color: #ffffff;
}

.footer .comments-title,
.footer .comments-title a,
.footer .comment-author a,
.footer .comment-author .fn,
.footer #reply-title,
.footer .fn,
.footer .fn a,
.footer .pingback-title {
  color: #ffffff;
}

.footer .author-link,
.footer .author-link:hover,
.footer .meta-nav {
  color: rgba(255,255,255,0.5);
}

.footer .author-description h4,
.footer .comment-author-name {
  color: #ffffff;
}

.footer .single .entry-tags a {
  border-color: rgba(255,255,255,0.15);
}

.footer .portfolio-categories > a:after,
.footer .portfolio-categories > span:after,
.footer .entry-meta > a:after,
.footer .entry-meta > span:after {
  background-color: rgba(255,255,255,0.5);
}

.footer .single .entry-tags a:hover {
  color: #ffffff;
}
.footer .share-button.entry-share,
.footer .btn-project-link,
.footer .btn-project-link:hover,
.footer .comment-reply-link,
.footer .comment-reply-link:hover,
.footer .share-link-description {
  color: #ffffff;
}

.footer .post-navigation .nav-links {
  border-color: rgba(255,255,255,0.15);
}

.footer .single-related-posts {
  border-color: rgba(255,255,255,0.15);
}

.footer .dt-btn:not(.btn-custom-style).title-btn-color,
.footer .dt-btn:not(.btn-custom-style).title-btn-color > span,
.footer .dt-btn:not(.btn-custom-style).title-btn-color > .text-wrap *,
.footer .dt-btn:not(.btn-custom-style).title-btn-color > i[class^="fa"],
.footer .dt-btn:not(.btn-custom-style).title-btn-color > i[class^="dt-icon-"],
.footer .btn-link.title-btn-color,
.footer .btn-link.title-btn-color > span,
.footer .btn-link.title-btn-color > .text-wrap *,
.footer .btn-link.title-btn-color > i[class^="fa"],
.footer .btn-link.title-btn-color > i[class^="dt-icon-"] {
  color: #ffffff;
}

.footer blockquote,
.footer blockquote *,
.footer .shortcode-pullquote,
.footer .wp-block-quote cite {
  color: #ffffff;
}

.footer .filter a,
.footer .filter a *,
.footer .filter .customSelect {
  color: #ffffff;
}

#footer.solid-bg {
  background: #212121 none repeat center top;
}
#footer.footer-outline-decoration {
  border-top: 1px solid rgba(129,215,66,0.96);
}
.wf-container-footer,
.footer.full-width-line {
  border-top: 1px solid #212121;
}
.header-side-left.footer-overlap.boxed-layout:not(.sticky-header) #footer,
.header-side-right.footer-overlap.boxed-layout:not(.sticky-header) #footer {
  max-width: 1580px;
}
#footer .wf-container-footer {
  padding-top: 50px;
  padding-bottom: 15px;
}
#footer .wf-container {
  margin: 0 -25px;
}
.footer .widget {
  color: #ffffff;
  padding: 0 25px;
}
.footer .widget,
.footer .tp_recent_tweets li {
  font:    15px / 27px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
#footer.full-width > .wf-wrap,
#footer.full-width #bottom-bar > .wf-wrap {
  width: 100%;
}
#footer > .wf-wrap,
#footer #bottom-bar > .wf-wrap {
  padding: 0 50px 0 50px;
}
#bottom-bar.solid-bg {
  background: rgba(255,255,255,0.12) none repeat center top;
}
.wf-container-bottom,
#bottom-bar.full-width-line {
  border-top: 1px solid rgba(255,255,255,0.12);
}
.wf-container-bottom {
  padding: 10px 0 10px 0;
  min-height: 60px;
}
#bottom-bar {
  font-size: 13px;
  line-height: 25px;
  color: #eeeeee;
}
#bottom-bar .mini-nav li:before {
  border-left-color: #38393a;
}
.footer-sub-nav > li.act > a .menu-text,
.footer-sub-nav > li:not(.act):hover > a .menu-text,
.footer-sub-nav > li.act > a .subtitle-text,
.footer-sub-nav > li:not(.act):hover > a .subtitle-text {
  color: #5891e8;
}

.footer .no-avatar,
.footer .testim-no-avatar {
  border-color: rgba(255,255,255,0.15);
}

.footer .no-avatar,
.footer .no-avatar:after,
.footer .comment-list .no-avatar:after {
  color: rgba(255,255,255,0.15);
}

.footer a.clear-form,
.footer #cancel-comment-reply-link {
  color: rgba(255,255,255,0.5);
}

.footer .customSelect {
  background-color: rgba(255,255,255,0.08);
}

.footer .post-content .text-secondary {
  color: rgba(255,255,255,0.5);
}


.footer .layzr-bg {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" stroke="rgba(255,255,255,0.25)"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg transform="translate(1 1)" stroke-width="2"%3E%3Ccircle stroke-opacity=".55" cx="18" cy="18" r="18"/%3E%3Cpath d="M36 18c0-9.94-8.06-18-18-18"%3E%3CanimateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite"/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}
.layzr-bg:not(.layzr-bg-transparent) {
  background-color: rgba(66,66,66,0.05);
}
