#footer section h3{
  font-size: .9em !important;
  font-weight: 800;
}
#footer section h2{
  font-size: 1.7em;
  /* font-variant: normal; */
  text-transform: none;
}
#footer section p{
  font-size: .78em !important;
}
#footer #footer-soc-icons .vc_icon_element{
  display: inline-block;
  margin-bottom: 10px;
}
#footer #footer-soc-icons .vc_icon_element .vc_icon_element-icon{
  font-size: 1.5em !important;
}
#footer #footer-soc-icons .vc_icon_element .vc_icon_element-inner{
  width: 2em; height: 2em;
  border: 0 !important;
}


#footer #univ-footer-logo img{
  max-width: 65% !important;
}

